@model T5S.Models.ResevarTutorium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResevarTutorium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTutoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTutoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraTutoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTutoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionTutoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionTutoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTutoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTutoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTutoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTutoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalendario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCalendario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGeografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGeografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva1.IdEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva2.IdGeografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva3.IdMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva4.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva5.IdTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReservaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReservaNavigation.IdCalendario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
