@model T5S.Models.Tutor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumentoTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumentoTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumentoTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumentoTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuarioTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuarioTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienciaTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienciaTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentosTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentosTutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTutor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTutor1.IdLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTutor2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTutor2.IdTutorMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTutorNavigation.IdCalendario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTutor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
